.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.center{
  align-items: center;
}
.flex-start{
  align-items: flex-start;
}
.flex-end {
  align-items: flex-end;
}
.stretch{
  align-items:stretch;
}